<!-- templates/animal_edit.html -->
{% extends 'base.html' %}

{% block content %}
<a href="/">Homepage</a>
<br>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/animals/{{animal._id}}'>
            <input type='hidden' name='_method' value='PUT'/>
            {% include 'partials/animals_form.html' %}
            <!-- BUTTON -->
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
