<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
<a href="/">Homepage</a>
<br>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/animals'>
            {% include 'partials/animals_form.html' %}
            <!-- BUTTON -->
                <div class='form-group'>
                    <button class='btn btn-primary' type='submit'>Save Listing</button>
                </div>
        </form>
    </div>
</div>
{% endblock %}
