<!-- templates/animals_index.html -->
{% extends 'base.html' %}

{% block content %}
  <center><span class = "title"><h1>Welcome to Noah's Ark</h1></span></center>

<div class='row'>
{% for animal in animals %}
    <div class='col-md-3'>
      <center>
      <a href='/animals/{{animal._id}}'><img src="{{animal.img_url}}"></a>
      <br>
      <center><span class = "defaultfont"><a href='animals/{{animal._id}}'>{{animal.name}}</span></a></center>
      </center>
          </div>
{% endfor %}
</div>
{% endblock %}
