<!-- templates/base.html -->
<!doctype html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Noah's Ark</title>
</head>
<style type = "text/css">

.bgcolor {
background-color: #82a4bf;
}

.fontcolor {
color: #e1f0fc;
}

.title {
font-family: Noteworthy, Arial, sans-serif;
font-size: 25px;
font-weight: bold;
color: #e1f0fc;
}

.defaultfont {
  font-family: Noteworthy, Tahoma, Arial, sans-serif;
  font-size: 30px;
  color: #e1f0fc;
}
</style>
<body class = "bgcolor">
<body>

    {% block content %}
        BODY CONTENT GOES HERE
    {% endblock %}

</body>
</html>
