<!-- templates/base.html -->
<!doctype html>
<html>
<head>
  <title>Noah's Ark</title>
</head>
<style type = "text/css">

.bgcolor {
background-color: #82a4bf;
}

.fontcolor {
color: #e1f0fc;
}

.title {
font-family: Noteworthy, Arial, sans-serif;
font-size: 25px;
font-weight: bold;
color: #FFFFFF;
}

.defaultfont {
  font-family: Noteworthy, Tahoma, Arial, sans-serif;
  font-size: 23px;
  color: #000000;
}
</style>
<body class = "bgcolor">
<body>

      {% include 'partials/navbar.html' %}

    {% block content %}
        BODY CONTENT GOES HERE
    {% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='https://bootswatch.com/4/yeti/bootstrap.min.css'

    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>
