<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
  <center><span class = "title"><h1>Welcome to Noah's Ark</h1></span></center>
  <span class = "defaultfont">
  <center><a href='/animals/new'>Add a Listing</a></center>
  <br>
  <center><img src="../static/images/zoo.jpg" alt = "Zoo" width="830" height="650"></center>

      <center>
        <span class = "defaultfont">
               <span class = "title">>New Arrivals!</h5></span>
                   <li><a href='animals/5d9d5d844b55903e729d707b'>Dimitri</a></li>
                   <li><a href='/animals/5d9d79ff4b55903e729d707d'>Felix</a></li>
                   <li><a href='/animals/5d9d5dc84b55903e729d707c'>Sylvain</a></li>
                   <li><a href='/animals/5d9d7b2c4b55903e729d707e'>Minerva</a></li>
                                  <!-- Sample Animal    -->
                <li><a href='/animals/5d9e5bb44b55903e729d707f'>Mika</a></li>
            </div>

</center>
</span>
           </div>
           </div>
  {% endblock %}
