{% extends 'base.html' %}

{% block content %}
<a href="/edit/{{animal._id}}">Edit Listing</a>
<br><br>
<a href='/animals'>Back to Catalogue</a>
<br><br>
<form action="/delete/{{animal._id}}" method="POST">
    <button type="submit">Delete Listing</button>
</form>

<!-- <center><h1>Name:{{animal.name}}</h1> -->


<!-- <img src="{{animal.img_url}}" alt= "Insert Image of Animal Here."><br>
<span class = 'defaultfont'>
Species: (Species here) {{animal.species}}<br>
Breed: (Breed here) {{animal.breed}}<br>
Color: (Color of fur/hair here) {{animal.color}}<br>
Cost: ${{animal.price}}<br> -->

<center><h1>Name: Sample Animal Mika</h1></center>
<img src = "../static/images/schanuzerrz.jpg" alt = "Sample Animal-Kun">
<span class = 'defaultfont'>
Species: Dog <br>
Breed: Schnauzer <br>
Color: Gray <br>
Cost: Priceless <br>


<button class="w3-button w3-black">Buy now<i class="fa fa-shopping-cart"></i></button>

</center>

{% endblock %}
