{% extends 'base.html' %}

{% block content %}
<a href="/">Homepage</a>

<center><h1>Name: {{animal.name}}</h1>

<img src="{{animal.img_url}}"><br>
<span class = 'defaultfont'>
Species: {{animal.species}}<br>
Breed: {{animal.breed}}<br>
Color: {{animal.color}}<br>
Cost: ${{animal.price}}<br>


<br><br>
<a href="/edit/{{animal._id}}">Edit Animal</a>

<br><br>
<form action="/delete/{{animal._id}}" method="POST">
    <button type="submit">Delete Animal</button>
</form>
</center>
</span>

{% endblock %}
